@charset "UTF-8";
html{}
body {
	 padding:0px; margin:0px;
	 width:100%;height:100%;
	 background-image:url(images/background.png);
	 font-family:'微软雅黑', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
	 overflow:hidden;
}
a {
	text-decoration:none;
}
.pagecontainer {
	position:absolute;
	width:400%; height:100%;
}
.page {
	position:relative;
	width:25%; height:100%; float:left;
}

.wrapper {
	position:absolute; top:0px; left:0px; right:0px; bottom:0px;
}
.scroller {
	float:left;padding:0; width:100%;
}
.thelist {
	padding:0px; margin:0px; width:100%;
}
.thelist .normal {
	border-top: 1px solid #F0EFEC;border-bottom: 1px solid #CCCBC1;
}

.thelist .hover {
	background-color:#DEDCD6;border-top: 1px solid #D5D4CF;border-bottom: 1px solid #CCCBC1;
}
@media (min-width: 290px){
.tabul {
	height:50px;
	padding:0px; margin:0px;width:100%;position:absolute; display:block;z-index:2000; top:0px; left:0px;
}
.tabul span {
	height:50px;
    width:10%; display:block; float:left; background-image:url(images/tab50_bg.png); background-position:bottom;
}
.tabul li {
	line-height:50px;
	float:left; list-style-type:none; float:left; display:block; text-align:center; z-index:2100;
}
.tabul .normal {
	font-size:18px;
	color:#333333; background-image: url(images/tab50_bg.png); background-repeat:repeat-x; background-position:bottom;
}
.tabul .active {
    font-size:18px;
	color:#FF731E; background-image:url(images/tab50_active.png); background-repeat:no-repeat; background-position:bottom center;
}
.content {
	top:50px;
	position:absolute; left:0px; bottom:0px; right:0px; overflow:hidden;
}
.thelist li {
	padding-top:5px; padding-bottom:10px;
	list-style-type: none;
}
.thelist a {
	font-size: 18px; line-height:30px;  margin-left:10px;
	display:block; width:100%;text-align:left;color:#333;
}
.thelist p {
	font-size: 14px; line-height:20px;
	padding:0px; margin:0px;text-align:left; color:#999;
}
}
@media (min-width: 480px){
.tabul {
	height:60px;
	padding:0px; margin:0px;width:100%;position:absolute; display:block;z-index:2000; top:0px; left:0px;
}
.tabul span {
	height:60px;
    width:10%; display:block; float:left; background-image:url(images/tab60_bg.png); background-position:bottom;
}
.tabul li {
	line-height:60px;
	float:left; list-style-type:none; float:left; display:block; text-align:center; z-index:2100;
}
.tabul .normal {
	font-size:20px;
	color:#333333; background-image: url(images/tab50_bg.png); background-repeat:repeat-x; background-position:bottom;
}
.tabul .active {
    font-size:20px;
	color:#FF731E; background-image:url(images/tab50_active.png); background-repeat:no-repeat; background-position:bottom center;
}
.content {
	top:60px;
	position:absolute; left:0px; bottom:0px; right:0px; overflow:hidden;
}
.thelist li {
	padding-top:5px; padding-bottom:10px;
	list-style-type: none;
}
.thelist a {
	font-size: 20px; line-height:30px;  margin-left:10px;
	display:block; width:100%;text-align:left;color:#333;
}
.thelist p {
	font-size: 14px; line-height:20px;
	padding:0px; margin:0px;text-align:left; color:#999;
}
}
@media (min-width: 640px){
.tabul {
	height:100px;
	padding:0px; margin:0px;width:100%;position:absolute; display:block;z-index:2000; top:0px; left:0px;
}
.tabul span {
	height:100px;
    width:10%; display:block; float:left; background-image:url(images/tab100_bg.png); background-position:bottom;
}
.tabul li {
	line-height:100px;
	float:left; list-style-type:none; float:left; display:block; text-align:center; z-index:2100;
}
.tabul .normal {
	font-size:30px;
	color:#333333; background-image: url(images/tab50_bg.png); background-repeat:repeat-x; background-position:bottom;
}
.tabul .active {
    font-size:30px;
	color:#FF731E; background-image:url(images/tab50_active.png); background-repeat: repeat-x; background-position:bottom center;
}
.content {
	top:100px;
	position:absolute; left:0px; bottom:0px; right:0px; overflow:hidden;
}
.thelist li {
	padding-top:10px; padding-bottom:20px;
	list-style-type: none;
}
.thelist a {
	font-size: 24px; line-height:40px;  margin-left:10px;
	display:block; width:100%;text-align:left;color:#333;
}
.thelist p {
	font-size: 18px; line-height:28px;
	padding:0px; margin:0px;text-align:left; color:#999;
}
}