@charset "UTF-8";
html{}
body {
	 padding:0px; margin:0px;
	 background-image:url(images/background.png);
	 font-family:'微软雅黑', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
	 -webkit-user-select:none;-webkit-text-size-adjust:none;
	 overflow:hidden;
}
a {
	text-decoration:none;
}
header {
	background-repeat:repeat-x; background-position:bottom;
}
article {
	position:absolute; z-index:2;
	bottom:0px; left:0px; right:0px; width:100%;
	overflow:auto;
}
@media (min-width: 290px){
/*页面顶部标题*/
header{
	height:50px; position:absolute;
	width:100%;display:block;background-image: url(images/tab50_bg.png); 
	font-size:22px; color:#333333; text-align:center; line-height:50px; z-index:1000;
}
article {
	top:50px; 
}
.scroller {
	position:absolute; left:50%;
	width:300px; margin-left:-150px;
	padding:10px 0px 10px 0px; 
	z-index:3;
}
section {
	width:140px; height:110px; float:left; margin-left:5px; margin-right:5px;
}
section .imagebox {
	width:140px; height:100px; display:block;
	border:1px solid #B2B2B2;
	background-repeat:no-repeat; background-size:100% auto;
}
section .title {
	position:absolute; margin-top:75px;
	width:140px; height:25px; background-color:#FFF;
	font-size:14px; color:#333333; text-align:center; line-height:25px;
}
section .inner {
	width:138px; height:98px; 
	border:1px solid #FFF; opacity: .5;
}
section .leftshadow {
	width:140px; height:10px;
	background-image:url(images/shadow_l.png);background-repeat:no-repeat; background-size:100% auto;
}
section .rightshadow {
	width:140px; height:10px;
	background-image:url(images/shadow_r.png);background-repeat:no-repeat; background-size:100% auto;
}
}
@media (min-width: 480px){
/*页面顶部标题*/
header{
	height:60px; position:absolute;
	width:100%;display:block;background-image: url(images/tab60_bg.png); 
	font-size:22px; color:#333333; text-align:center; line-height:60px; z-index:1000;
}
article {
	top:60px; 
}
.scroller {
	position:absolute; left:50%;
	width:456px; margin-left:-223px;
	padding:10px 0px 10px 0px; 
	z-index:3;
}
section {
	width:212px; height:180px; float:left; margin-left:8px; margin-right:8px;
}
section .imagebox {
	width:212px; height:162px; display:block;
	border:1px solid #B2B2B2;
	background-repeat:no-repeat; background-size:100% auto;
}
section .title {
	position:absolute; margin-top:127px;
	width:212px; height:35px; background-color:#FFF;
	font-size:18px; color:#333333; text-align:center; line-height:35px;
}
section .inner {
	width:210px; height:160px; 
	border:1px solid #FFF; opacity: .5;
}
section .leftshadow {
	width:212px; height:16px;
	background-image:url(images/shadow_l.png);background-repeat:no-repeat; background-size:100% auto;
}
section .rightshadow {
	width:212px; height:16px;
	background-image:url(images/shadow_r.png);background-repeat:no-repeat; background-size:100% auto;
}
}

@media (min-width: 640px){
/*页面顶部标题*/
header{
	height:100px; position:absolute;
	width:100%;display:block;background-image: url(images/tab100_bg.png); 
	font-size:40px; color:#333333; text-align:center; line-height:100px; z-index:1000;
}
article {
	top:100px; 
}
.scroller {
	position:absolute; left:50%;
	width:600px; margin-left:-300px;
	padding:20px 0px 20px 0px; 
	z-index:3;
}
section {
	width:280px; height:220px; float:left; margin-left:10px; margin-right:10px;
}
section .imagebox {
	width:280px; height:200px; display:block;
	border:1px solid #B2B2B2;
	background-repeat:no-repeat; background-size:100% auto;
}
section .title {
	position:absolute; margin-top:150px;
	width:280px; height:50px; background-color:#FFF;
	font-size:28px; color:#333333; text-align:center; line-height:50px;
}
section .inner {
	width:278px; height:198px; 
	border:1px solid #FFF; opacity: .5;
}
section .leftshadow {
	width:280px; height:20px;
	background-image:url(images/shadow_l.png);background-repeat:no-repeat; background-size:100% auto;
}
section .rightshadow {
	width:280px; height:20px;
	background-image:url(images/shadow_r.png);background-repeat:no-repeat; background-size:100% auto;
}
}
@media (min-width: 710px){
/*页面顶部标题*/
header{
	height:100px; position:absolute;
	width:100%;display:block;background-image: url(images/tab100_bg.png); 
	font-size:40px; color:#333333; text-align:center; line-height:100px; z-index:1000;
}
article {
	top:100px; 
}
.scroller {
	position:absolute; left:50%;
	width:680px; margin-left:-340px;
	padding:20px 0px 20px 0px; 
	z-index:3;
}
section {
	width:320px; height:240px; float:left; margin-left:10px; margin-right:10px;
}
section .imagebox {
	width:320px; height:220px; display:block;
	border:1px solid #B2B2B2;
	background-repeat:no-repeat; background-size:100% auto;
}
section .title {
	position:absolute; margin-top:170px;
	width:320px; height:50px; background-color:#FFF;
	font-size:28px; color:#333333; text-align:center; line-height:50px;
}
section .inner {
	width:318px; height:218px; 
	border:1px solid #FFF; opacity: .5;
}
section .leftshadow {
	width:320px; height:20px;
	background-image:url(images/shadow_l.png);background-repeat:no-repeat; background-size:100% auto;
}
section .rightshadow {
	width:320px; height:20px;
	background-image:url(images/shadow_r.png);background-repeat:no-repeat; background-size:100% auto;
}
}